template(name='ea')
    .ui.header ea
    a.ui.header(href="waste-carriers-brokers") Waste Carriers, Brokers and Dealers
    a.ui.header(href="waste-carriers-brokers") Waste Exemptions	
    a.ui.header(href="waste-carriers-brokers") Scrap Metal Dealers	
    a.ui.header(href="waste-carriers-brokers") Enforcement Actions	
    a.ui.header(href="waste-carriers-brokers") Water Quality Exemptions	