template(name='home')
    .ui.stackable.padded.grid
        .sixteen.wide.column
            a.ui.icon.header(href='/reddit')
                i.reddit.icon
                |reddit
                
            a.ui.icon.header(href='/stack')
                i.stack.exchange.icon
                |stack exchange
            
            
            
            
            