template(name='nav')
    .ui.fluid.attached.borderless.inverted.four.item.menu.topnav
        // a.icon.item.toggle_leftbar
        //     i.bars.icon
        // a.icon.zoomer.item(href='/' class="{{isActivePath regex=''}}" title='dao')
        //     i.large.yin.yang.icon
        // a.icon.zoomer.item(href='/tribes' class="{{isActivePath regex='tribes'}}" title='trump')
        //     i.large.fire.icon
        if connected
            // a.icon.zoomer.item.goto_people(href='/susers' class="{{isActivePath regex='susers'}}" title='stack exchange users')
            //     i.large.user.outline.icon
            // a.icon.zoomer.item.goto_people(href='/info' class="{{isActivePath regex='info'}}" title='')
            //     i.large.info.icon
            // a.icon.zoomer.teal.item.clear_tags.goto_stack(href='/stack' class="{{isActivePath '/stack'}}" title='stack exchange')
            //     i.large.stack.exchange.icon
            a.icon.zoomer.blue.item.clear_tags.goto_reddit(href='/' class="{{isActiveRoute 'dao'}}" title='dao')
                if reddit_loading
                    i.large.loading.yin.yang.icon
                else
                    i.large.yin.yang.icon
            a.icon.zoomer.item.clear_tags.goto_groups(href='/groups' class="{{isActiveRoute regex='groups'}}" title='groups')
                i.large.clone.icon
            // a.icon.zoomer.item.clear_tags.goto_subreddit(href='/subs' class="{{isActiveRoute regex='sub'}}" title='subreddits')
            a.icon.zoomer.item(href='/trump' class="{{isActivePath regex='trump'}}" title='trump')
                i.large.radiation.icon
            //     i.large.clone.icon
            a.icon.zoomer.brown.item.goto_rusers(href='/rusers' class="{{isActivePath regex='rusers'}}" title='reddit users')
                i.users.large.icon
            // if is_admin
            //     a.icon.zoomer.item.goto_rusers(href='/users' class="{{isActivePath regex='rusers'}}" title='rusers')
            //         i.large.users.icon
            // a.icon.zoomer.item.silence(href='#')
            //     i.volume.mute.icon
        unless connected
            .spacer
            i.large.yin.yang.loading.big.icon
            +status    
            
            
template(name='dao')
    +reddit 
    
template(name='groups')
    +stack
    +subs