template(name='nav')
    .ui.fluid.attached.borderless.inverted.four.item.menu.topnav
        // a.icon.item.toggle_leftbar
        //     i.large.bars.icon
        if connected
            a.icon.zoomer.item.goto_people(href='/susers' class="{{isActivePath regex='susers'}}" title='susers')
                i.user.outline.icon
            a.icon.zoomer.teal.item.clear_tags.goto_stack(href='/stack' class="{{isActivePath '/stack'}}" title='stack exchange')
                i.stack.exchange.icon
            a.icon.zoomer.item.clear_tags.goto_reddit(href='/reddit' class="{{isActiveRoute regex='reddit'}}" title='reddit')
                i.reddit.icon
            a.icon.zoomer.item.goto_rusers(href='/rusers' class="{{isActivePath regex='rusers'}}" title='rusers')
                i.user.outline.icon
            if is_admin
                a.icon.zoomer.item.goto_rusers(href='/users' class="{{isActivePath regex='rusers'}}" title='rusers')
                    i.large.users.icon
            // a.icon.zoomer.item.silence(href='#')
            //     i.large.volume.mute.icon
        unless connected
            .spacer
            i.yin.yang.loading.big.icon
            +status    

            