template(name='nav')
    // a.icon.ui.large.circular.icon.button(href='/')
    .ui.fluid.attached.five.item.borderless.grey.menu.topnav
        // a.icon.header.item.pointer.toggle_leftbar
        //     i.bars.large.grey.icon
        if connected
            // a.icon.item.home2(href='/')
            //     i.large.yin.yang.icon
            a.icon.zoomer.item.goto_people(href='/people' class="{{isActivePath regex='people'}}" title='people')
                i.large.user.outline.grey.icon
            a.icon.zoomer.item.clear_tags.goto_stack(href='/stack' class="{{isActivePath '/stack'}}" title='stack exchange')
                i.large.stack.exchange.grey.icon
            a.icon.zoomer.item.clear_tags.goto_dao(href='/' class="{{isActivePath '/'}}" title='search')
                i.big.yin.yang.grey.icon
            a.icon.zoomer.item.clear_tags.goto_reddit(href='/reddit' class="{{isActiveRoute regex='reddit'}}" title='reddit')
                i.large.reddit.grey.icon
            a.icon.zoomer.item.silence(href='#')
                i.large.ban.grey.icon
            // a.icon.disabled.item.goto_wikipedia(href='/wikipedia')
            //     i.large.wikipedia.icon
        unless connected
            .icon.item
                i.yin.yang.grey.loading.big.icon
            // +status    