template(name='pics')
    .ui.stackable.padded.grid
        .four.wide.column
        .twelve.wide.column
            each pic_docs  
                .ui.header #{title}
                
                
template(name='pic_page')