template(name='questions')
    .ui.grid
        .four.wide.column
            .ui.inline.header questions
            .ui.icon.input
                i.search.icon
                input.search_questions(type='text' placeholder='search questions')
            // .ui.icon.input
            //     i.plus.icon
            //     input.ask_question(type='text' placeholder='ask question')
            .ui.header total bounty available
            .ui.header total bounty earned
            +session_boolean_toggle key='view_open' label='view open'
            +session_boolean_toggle key='view_your_questions' label='your questions'
            +session_boolean_toggle key='view_your_answers' label='your answers'
            .ui.button.view_open
                |view open
            .ui.button.view_your_questions
                |your questions
            .ui.button.view_your_answers
                |your answers
            
        .twelve.wide.column
            .ui.cards
                each questions
                    +question
                
        
template(name='session_key_value_edit')    
    .ui.button.set_session_var
        |#{label}
                        
// template(name='key_value_edit')    
//     .ui.button.set_key_value
//         |#{label}
                        