body {
    /* font-family: 'Raleway', sans-serif !important; */
    /* font-family: 'Lato+Mono', sans-serif !important; */
    /* font-family: 'Lato', sans-serif !important; */
     /*font-size: 110% !important; */
    /* line-height: 200% !important; */
     background: rgba(0,0,0,.8) !important; 
    /*scroll-behavior: smooth;*/
    /*margin-top: 5em;*/
    /*background: rgba(200,200,200,1) !important;*/
     /*filter: invert(1) !important; */
     /*overscroll-behavior: none; */
    transition: all .5s ease !important;
    /* background: #0e0e44 !important; */
}

.tone_item {
    transition: all .5s ease !important;
}

.displaynone {
    display:none !important;
}
p {
  font-family: 'Ubuntu', sans-serif !important;

}

.chatpop {
  border-radius: 10px !important;
  display: block;
  position: fixed;
  min-width:200px;
  background: lightgrey !important;
  bottom: 0;
  padding:5px;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}
.open_chat {
  display: block;
  position: fixed;
  /*min-width:200px;*/
  bottom: 0;
  right: 15px;
  /*border: 3px solid #f1f1f1;*/
  z-index: 9;
}

.adventure-vidm {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background-color: rgba(19, 47, 68, 0.78);
    background-attachment: fixed !important;
    /*max-width:100% !important;*/
    /*min-width:110% !important;*/
    /*width: 120%;*/
    background-size: cover !important;
    /*min-width: 120% !important;*/
    position: absolute;
    overflow: hidden;
    /*height: 500px;*/
    /*height: 100%;*/
    /*width: 100%;*/
    /*color: white;*/
    /*background-repeat: no-repeat !important;*/
    
}


.trans {
  opacity:0.5 !important;
}

.reset:hover {
  cursor:help;
}

.form {
  /*border-radius: 10px !important;*/
}

.user_online {
  border-style: solid !important;
  border-color: green !important;
  border-width: 3px !important;
}

.spaced_image {
  margin: 2px 2px 4px 2px !important;
  display: inline !important;
  
}

.darkblue {
  background-color: #114052 !important;
}

.pushable.segment {
    background: rgba(248,248,248,.8) !important;
  
}



html.ios {
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
html.ios,
html.ios body {
  height: initial !important;
}


.ui.cards > .card {
    /*margin-bottom: 0px !important;*/
    /*margin-top:  0 !important;*/
}

/*.bg_overlay {*/
    /* Set rules to fill background */
/*    min-height: 100% !important;*/
/*    min-width: 1024px !important;*/
    /*min-width: 100% !important;*/
    
    /* Set up proportionate scaling */
/*    width: 100% !important;*/
/*    height: auto !important;*/
    
    /* Set up positioning */
/*    position: fixed;*/
/*    top: 0 !important;*/
/*    left: 0 !important;*/
/*    opacity: .08 !important;*/
/*    z-index: -100 !important;*/
/*}*/


#iron-router-progress.spinner:before {
	border-color : green;
}
#iron-router-progress {
	background-color : green;
	box-shadow       : 0 0 5px grey;
}


.segment:not(.pushable) {
  transition: height .5s linear;
  border-radius: 10px !important;
}

.bottom_rounded {
  border-bottom-right-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}
.top_rounded {
  border-top-right-radius: 10px !important;
  border-top-left-radius: 10px !important;
}

.topnav.menu {
    /*border-radius: 0 0 10px 10px !important; */
    transition: background-color 3s ease !important;
    background-color: rgba(250,250,250,1) !important; 
    /*background-color: rgba(50,110,100,1) !important; */

    /* opacity: .7 !important; */
    overflow-y:hidden;
    overflow-x:scroll;
    /* padding-top: .2em; */
    /* padding: .2em; */
    /*margin-bottom: 4em; */
}
.hscroll {
    /*border-radius: 0 0 10px 10px !important; */
    transition: background-color 3s ease !important;
    /* background-color: rgba(250,250,250,.6) !important; */
    /*background-color: rgba(50,110,100,1) !important; */

    /* opacity: .7 !important; */
    overflow-y:hidden;
    overflow-x:scroll;
    /* padding-top: .2em; */
    /* padding: .2em; */
    /*margin-bottom: 4em; */
}


.secnav{
    /* padding: 5px !important;
    border-radius: 10px !important;
    border-width: 1px !important;
    border-color: grey !important;
    border-style: solid !important; */
	overflow-y:hidden;
	overflow-x:scroll;
	/* max-height:100vh; */
	/* padding-top: .2em; */
	/*padding-left: 1em;*/
}

.hscroll::-webkit-scrollbar {
    height: 2px !important;
   /*border-radius: 10px !important; */
}
.secnav::-webkit-scrollbar {
    height: 1px !important;
   /*border-radius: 10px !important; */
}
.topnav::-webkit-scrollbar {
    height: 0px !important;
   /*border-radius: 10px !important; */
}


@media screen and (max-width: 1100px) {
  .overlay-text {
    top: 550px;
  }
  .overlay-text-subheader {
    top: 290px;
  }
}


.header {
    /* border-radius: 0 0 10px 10px !important; */
    transition: color .5s ease !important;
    /* background-color: rgba(250,250,250,.6) !important; */
    /* opacity: .7 !important; */
}
/* .topnav .menu {
    z-index: 2000 !important;
} */
.menu:not(.topnav) {
     /*border-radius: 10px !important; */
    transition: background-color .5s ease !important;
}

.topnav > .item {
    transition: all .1s ease !important;
    /* z-index: 2000 !important; */
}
.global_container{
    transition: transform .5s !important;
     /*margin-top: 3.5em !important; */
    /* box-shadow: 0 2px 2px 2px rgba(50, 50, 100, 0.1) !important; */
}



.full {
    height: 100% !important;
}
.centered {
    text-align: center !important;
}

.small_card_header {
    font-size: 90% !important;
    color: grey !important;
}

[data-f-id="pbf"] {
  display:none !important;
}

.home {
    /* min-height:100% !important; */
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}

.ui.button.result {
  transition: all .1s ease !important;
  display: inline !important;
  /* padding: 5px !important; */
}


.field_segment {
    transition: all 1 ease !important;
    /*display: inline !important;*/
    /* padding: 5px !important; */
}

.tone_item {
    transition: all .1s ease !important;
}

.ui.button.result:hover{
    transition: transform .25s; /* Animation */
    /* color: black !important; */
    /* font-size: 120% !important; */
    /* : 130% !important; */
}

.centered {
    text-align: center !important;
}
.thin {
    /* font-size: 1.10rem !important; */
    font-weight: 400 !important;
}


.rounded {
  border-radius: 10px !important; 
}

.card {
    /* background: black !important; */
    border-radius: 10px !important; 
}

a.goto_article {
    color: grey !important;
}

.ui.button:not(.circular) { 
    /*border-radius: 10px !important;*/
}
.ui.button {
  margin: 2px !important;
  /*border-radius: 10px !important; */
  transition: height .1s ease !important; 
  /* background-color: rgba(200, 200, 200, 0.2) !important; */
  /* padding: 12px !important; */
  font-family: 'Roboto', sans-serif !important; 
  
  /* font-weight: lighter !important; */
  /* font-size: 120% !important; */
}
/*  */
.pointer:hover {
    transition: all .25s linear !important; 
    cursor: pointer !important;
    /* color: black !important; */
    /* font-size: 130% !important; */
    /*zoom: 105% !important;*/
    /* padding-top: 5em !important; */
    /*transform: scale(1.) !important;*/
    z-index: 1000 !important;
    /*text-shadow: 0 20px 20px 20px rgba(50, 50, 100, 0.1) !important; */
    /*text-shadow: 0 0 3px grey !important;*/
    filter: drop-shadow(0px 0px 5px grey);    
}

.zoom:hover {
    transition: all .1s ease !important; 
    z-index: 1000 !important;
    transform: scale(1.05) !important;
}
.superzoom:hover {
    transition: all .1s ease !important; 
    transform: scale(2) !important;
    z-index:1000 !important;
}
.inset {
  box-shadow: inset 3px 3px 5px 0px rgba(0,0,0,0.75);
}
.pointer:active {
  box-shadow: inset 1px 1px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
}
.menu > a.item :active {
  box-shadow: inset 1px 1px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
}
a.title, #title {
    color: black !important;
}
.ui.popup {
    border-radius:10px !important;
}

.ui.embed, .ui.text {
    /*border-radius: 10px !important;*/
}

.invert{
  filter: invert(1) !important; 
}
.left.floated{
    margin:3px !important;
}


.embed{
    /*border-radius: 10px !important;*/
    /* background: rgba(0,0,0,.85) !important; */
    /* filter: invert(1) !important; */
}



/* iframe {
    border-radius: 10px !important;
    filter: invert(1) !important;
} */


.f20 {
  font-size: 200% !important;
  /* line-height: 200% !important; */
  /* margin-bottom: 10px !important;  */
}
.f19 {
  font-size: 190% !important;
  /* line-height: 190% !important; */
  /* margin-bottom: 10px !important;  */
}
.f18 {
  font-size: 180% !important;
  /* line-height: 180% !important; */
  /* margin-bottom: 10px !important;  */
}
.f17 {
  font-size: 170% !important;
  /* line-height: 170% !important; */
  /* margin-bottom: 10px !important;  */
}
.f16 {
  font-size: 160% !important;
  /* line-height: 160% !important; */
  /* margin-bottom: 10px !important;  */
}
.f15 {
  font-size: 150% !important;
  /* line-height: 150% !important; */
  /* margin-bottom: 10px !important;  */
}
.f14 {
  font-size: 140% !important;
  line-height: 110% !important;
  /* margin-bottom: 10px !important;  */
}
.f13 {
  font-size: 130% !important;
  line-height: 120% !important;
  /* margin-bottom: 10px !important;  */
}
.f12 {
  font-size: 120% !important;
  line-height: 120% !important;
  /* margin-bottom: 10px !important;  */
}
.f11 {
  font-size: 110% !important;
  line-height: 120% !important;
  /* margin-bottom: 10px !important;  */
}
.f10 {
    font-size: 100% !important;
    line-height: 100% !important;
    /* margin-bottom: 10px !important;  */
}
.f9 {
  font-size: 90% !important;
  line-height: 90% !important;
  /* margin-bottom: 5px !important;  */
}
.f8 {
  font-size: 80% !important;
  line-height: 80% !important; }
.f7 {
  font-size: 70% !important;
  line-height: 70% !important; }
.f6 {
  font-size: 60% !important;
  line-height: 60% !important; }
.f5 {
  font-size: 50% !important;
  line-height: 50% !important; }
.f4 {
  font-size: 40% !important;
  line-height: 40% !important; }
.f3 {
  font-size: 30% !important;
  line-height: 30% !important; }
.f2 {
  font-size: 20% !important;
  line-height: 20% !important; }
.f1 {
  font-size: 10% !important;
  line-height: 10% !important; }
.f0 { display:none; }


.large120 {
    font-size: 120%;
    line-height: 150%;
}


.ui.grid > .centered.row.flat {
    padding-top: 0 !important;
    margin: 1px !important;
}




.spacer {
  height: 10px;
}

.label {
  margin:3px !important;
  border-radius: 7px !important; 
}

input {
    margin: 5px !important;
    border-radius: 7px !important; 
}

::-webkit-scrollbar {
  width: 3px !important;
  /*border-radius: 10px !important;*/
}
.wrap_input {
    text-align:center !important;
}
/* Track */
::-webkit-scrollbar-track {
  background: grey;
  /*border-radius: 10px !important;*/
}

::-webkit-scrollbar-thumb {
  background: grey !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: darkgrey !important;
}
.smallscroll{
    /* padding: 5px !important;
    border-radius: 10px !important;
    border-width: 1px !important;
    border-color: grey !important;
    border-style: solid !important; */
    max-height: 300px !important;
    overflow-y:scroll;
    overflow-x:hidden;
    /* padding-top: .2em; */
    padding: .2em;
    /*padding-left: 1em;*/
}
.medscroll{
    /* padding: 5px !important;
    border-radius: 10px !important;
    border-width: 1px !important;
    border-color: grey !important;
    border-style: solid !important; */
    max-height: 500px !important;
    overflow-y:scroll;
	overflow-x:hidden;
	/* padding-top: .2em; */
	padding: .2em;
	/*padding-left: 1em;*/
}
.scrolling{
    max-height: 90vh !important;
    /*min-height: 50vh !important;*/
    /* padding: 5px !important;
    border-radius: 10px !important;
    border-width: 1px !important;
    border-color: grey !important;
    border-style: solid !important; */
    overflow-y:scroll;
    /*overflow-x:hidden;*/
    /*z-index:1001;*/
    /*margin-top: 1em; */
    padding-top: .5em; 
    padding: .4em;
    /*padding-left: 1em;*/
}
.forty {
    max-height:38vh !important;
    min-height:38vh !important;
}
.sixty {
    max-height:58vh !important;
    min-height:58vh !important;
}

body {
    transition: all .25s !important;
}



.button:active{
    /* transition: all .25s !important; */
    transform: translate(0, 1px) !important; 
    -webkit-transform: translate(0, 1px) !important;
} 


.button, .selector, .card, .dark_mode, .ui.header, .ui.label, .item, p, img{
    animation: fadein .5s !important;
    /*-webkit-transition: opacity .1s ease-in !important;*/
    /* -webkit-transition: opacity .1s ease-out; */
    /* animation: fadeout .25s; */
}



@keyframes fadeout {
  from { opacity: 1}
  to   { opacity: 0}
}


.inline {
  display:inline !important;
  padding-right: 5px !important;
  margin-right: 0px !important;
  /* margin: .5em !important;2 */
}

.ui.header{
    transition: all .5s ease !important;
    /* text-transform: capitalize !important; */
    /* font-family: 'Raleway', sans-serif !important; */
    /* font-family: 'Montserrat', sans-serif !important; */
     font-family: 'Roboto', sans-serif !important; 
    /* font-family: 'Lato+Mono', sans-serif !important; */
    /*font-family: 'Ubuntu', sans-serif !important;*/
}

@keyframes fadein {
  from { opacity: 0}
  to   { opacity: 1}
}

.result_column {
  /* animation: fadein 1s; */
}

@media screen and (max-width: 1100px) {
  .overlay-text {
    top: 550px;
  }
  .overlay-text-subheader {
    top: 290px;
  }
}



/* Mobile */
@media only screen and (max-width: 765px) {
  .mobile.hidden,
  .tablet.only,
  .computer.only,
  .large.monitor.only,
  .widescreen.monitor.only {
    display: none !important;
  }
}
/* Tablet / iPad Portrait */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .mobile.only,
  .tablet.hidden,
  .computer.only,
  .large.monitor.only,
  .widescreen.monitor.only {
    display: none !important;
  }
}
/* Computer / Desktop / iPad Landscape */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .mobile.only,
  .tablet.only,
  .computer.hidden,
  .large.monitor.only,
  .widescreen.monitor.only {
    display: none !important;
  }
}
/* Large Monitor */
@media only screen and (min-width: 1200px) and (max-width: 1919px) {
  .mobile.only,
  .tablet.only,
  .computer.only,
  .large.monitor.hidden,
  .widescreen.monitor.only {
    display: none !important;
  }
}
/* Widescreen Monitor */
@media only screen and (min-width: 1920px) {
  .mobile.only,
  .tablet.only,
  .computer.only,
  .large.monitor.only,
  .widescreen.monitor.hidden {
    display: none !important;
  }
}
