body {
  /* font-family: 'Raleway', sans-serif !important; */
  font-family: 'Ubuntu', sans-serif !important; 
  /* font-family: 'Lato+Mono', sans-serif !important; */
  /* font-family: 'Lato', sans-serif !important; */
  /*font-size: 100% !important; */
  /* line-height: 200% !important; */
  /*background: rgba(0,0,0,.1) !important; */
  scroll-behavior: smooth;
  /*margin-top: 5em;*/
  -webkit-font-smoothing: antialiased; 
  -moz-osx-font-smoothing: grayscale;

  background: rgba(200,200,200,1) !important;
  filter: invert(1) !important; 
  /*overscroll-behavior: none; */
  /*transition: all .15s ease !important;*/
  /*background: #0e0e44 !important; */
}

@keyframes fadeout {
  from { opacity: 1}
  to   { opacity: 0}
}

@keyframes fadein {
  from { opacity: 0}
  to   { opacity: 1}
}

.button, button, .selector, .icon, .card, .dark_mode, .ui.header, .ui.label, .item, p, img {
    animation: fadein .5s !important;
}

.spacer {
    height: 5px !important;
}
.header {
  /*font-family: 'Ubuntu', sans-serif !important; */
    
}
.pushed {
    margin-left:5px !important;
}
.button {
    margin:2px !important;
}

.inline {
    display: inline !important;
}

.thin {
    font-weight: 400 !important;
}
.zoomer:hover {
    transition: all .3s ease !important; 
    /*text-shadow: 0 0 3px grey !important;*/
    /*filter: drop-shadow(0px 0px 5px grey);    */
    z-index: 1000 !important;
    /*animation: fadein .5s !important;*/
    transform: scale(1.05) !important;
    /*animation: fadein .5s !important;*/
    /*animation: fadeout .5s; */
}

input {
    /*border-radius: 42px !important;*/
}
.input {
    margin-top: 10px !important;
}

.scrolling{
    max-height: 90vh !important;
    /*min-height: 50vh !important;*/
    /* padding: 5px !important;
    border-radius: 7px !important;
    border-width: 1px !important;
    border-color: grey !important;
    border-style: solid !important; */
    overflow-y:scroll;
    overflow-x:hidden;
    /*z-index:1001;*/
    /*margin-top: 1em; */
    /*padding-top: .5em; */
    padding: 1em;
    /*padding-left: 1em;*/
}
.smallscroll{
    max-height: 500px !important;
    /*min-height: 50vh !important;*/
    /* padding: 5px !important;
    border-radius: 7px !important;
    border-width: 1px !important;
    border-color: grey !important;
    border-style: solid !important; */
    overflow-y:scroll;
    overflow-x:hidden;
    /*z-index:1001;*/
    /*margin-top: 1em; */
    /*padding-top: .5em; */
    padding: 1em;
    /*padding-left: 1em;*/
}

/*iframe, img, a, .image, .invert, .button {*/
.button, .text, button, .invert {
    filter: invert(1) !important; 
}

.smallscroll::-webkit-scrollbar {
    width: 0px !important;
   /*border-radius: 10px !important; */
}
