template(name='wiki')
    .ui.stackable.padded.grid
        .four.wide.column
        .twelve.wide.column
            each wiki_docs  
                .ui.header #{title}
                
                
template(name='wiki_page')