template(name='stack')
    .ui.stackable.grid
        .row
            .four.wide.column
                .ui.header stackexchange
                .ui.input
                    input(type='text')
                .ui.header sites
                each sites
                    .ui.header #{title}
            .twelve.wide.column
                .ui.header questions
                each stack_docs
                    .ui.header #{title}
                    
                    
                    
                    