template(name='finance')
    .ui.stackable.padded.grid
        .centered.middle.aligned.row
            .sixteen.wide.column
                .ui.dividing.header 
                    |Financial Center
                    
        .centered.centered.row
            .twelve.wide.column
                .ui.header balance history
                .ui.header billing history
            .four.wide.column
                .ui.segment
                    .ui.header budget

                        
                        
                        
                        