template(name='users')
    .ui.stackable.padded.grid
        .four.wide.column
            .ui.header users
        .twelve.wide.column
            each users
                a.ui.header(href="/site/#{site}/user/#{user_id}") #{display_name}
                |#{site}