template(name='menu')
    .ui.stackable.padded.grid
        .ui.header 
            +i name='restaurant-menu'
            |menu
        .row
            each drink_categories
                .four.wide.column
                    +drink_category_segment
                    
template(name='drink_category_segment')
    .ui.segment
        .ui.header 
            +i name=icon
            |#{title}
        .ui.list
            each category_drinks
                +drink_item
                
