template(name='user_friends')
    +user_friend_button
    .ui.stackable.grid
        .two.column.row
            .column
                .ui.small.header connected to
                .ui.middle.aligned.selection.animated.large.list.smallscroll
                    each friends
                        +user_segment
            .column
                .ui.small.header connected by
                .ui.middle.aligned.selection.animated.large.list.smallscroll
                    each friends_with
                        +user_segment
            .column
                .ui.small.header not connected to
                .ui.middle.aligned.selection.animated.small.list.smallscroll
                    each nonfriends
                        +user_item


template(name='user_segment')
    a.item(href="/u/#{username}")
        img.ui.avatar.image(src="{{c.url profile_image_id gravity='face' crop='fit'}}")
        .content
            .ui.inline.header
                |#{name}
            small #{points}
            unless is_friend
                .ui.button.add_friend
                    i.plus.icon
            // .description
                // each tags
                //     .ui.basic.label #{this}

