template(name='user_edit_alerts')
    .ui.header
        i.rss.icon
        | alerts
    .ui.header notifiy when 
    .ui.big.link.list
        .item receive credit
        .item invited to event 
        .item invited to shift 
        .item personal request received 