template(name='school')
    .ui.padded.stackable.grid
        .four.wide.column
            .ui.header 
                i.university.icon
                |school
            a.ui.circular.icon.button(href="/m/course")
                i.cog.icon
        .twelve.wide.column
            .ui.header
                i.list.icon
                |courses
            .ui.cards
                each courses
                    .ui.card
                        .content
                            a.ui.header(href="/course/#{_id}") #{title}
                            .ui.basic.label 
                                i.clock.icon
                                |#{section}
                            .ui.basic.label 
                                i.user.icon
                                |#{professor}
                